mixin subscribeForm()
	.subscribe
		.subscribefrm
			input.subscribeemail(type="text", placeholder="Nhập email của bạn...")
			button.subscribebutton Gửi
mixin PugImg(url="https://picsum.photos/1600/900")
	img(data-src=url, alt="", class=["lozad", attributes.class])
mixin Img(url="https://picsum.photos/1600/900")
	img(src=url class=[attributes.class] alt="")

//- ProductItem mixin — maps to WooCommerce product loop item
//- opts: { href, logo, sku, name, discount, isBestseller, price, oldPrice, specs[] }
mixin ProductItem(opts={})
	-
		const {
			href = '#!',
			image = './img/img-product.png',
			name = 'Rổ xe Evo',
			discount = '-20%',
			isBestseller = true,
			priceVND = '1.250.000đ',
			priceUSD = '56$',
			oldPriceVND = '1.500.000đ',
			oldPriceUSD = '60$',
			specs = ['Nhà sản xuất: Vingroup', 'Mã sản phẩm: AT0016070', 'Made in Viet Nam']
		} = opts
	article.product-item
		a.product-item__thumb(href=href)
			.product-item__img(class="img-ratio ratio:pt-[1_1]")
				+PugImg(image)
		.product-item__body
			.summary
				a.product-item__name(href=href)= name
				.product-item__badges
					if discount
						span.badge-discount= discount
					if isBestseller
						span.badge-bestseller bestseller
				.product-item__price
					.span.price-current
						span.price-current-vnd= priceVND
						|  - 
						span.price-current-usd= priceUSD
					span.price-old
						span.price-old-vnd= oldPriceVND
						|  - 
						span.price-old-usd= oldPriceUSD
			if specs && specs.length
				ul.product-item__specs
					each spec in specs
						li
							i.fa-solid.fa-check
							span= spec
mixin HeaderLanguageVertical()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		ul 
			li 
				a(href="") 
					span EN
mixin HeaderLanguageHorizontal()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
mixin BtnPrimaryOption(opts={})
	-
		const {
			tag="a",
			text="Nhấn đi",
			option="btn-primary",
			size="size-sm",
			appearance="appearance-default",
			href="#!"
		}=opts
	#{tag}(href=tag === "a" ? href : null, class=["btn", option, size, appearance])&attributes(attributes)
		span=text
mixin BtnSlide(opts={})
	- 
		const {
			direction="prev"
		}=opts
		const icon=direction==="prev"
			? "fa-regular fa-angle-left": "fa-regular fa-angle-right"
	button(class=["btn btn-slide"])&attributes(attributes)
		if block 
			block 
		else
			i(class=icon)
mixin HeaderMenu()
	nav.header-menu 
		ul 
			-const menu = ['Giới thiệu','Sản phẩm','Dự án', 'Dịch vụ','Thông tin','Tuyển dụng']
			each item in menu
				li.menu-item-has-children
					a(href="")=item
mixin HeaderLanguage()
	.header-language 
		.header-language-active
			ul 
				li.wpml-ls-current-language
					a(href="") 
						span.wpml-ls-native VN
				ul 
					li 
						a(href="") 
							span EN
		.header-language-list
			ul 
				li.wpml-ls-current-language
					a(href="") 
						span.wpml-ls-native VN
				ul 
					li 
						a(href="") 
							span EN
mixin HeaderLanguageAfter()
	.header-language
		.wpml-ls
			ul 
				li 
					a(href="#!") 
						span VN
					ul.wpml-ls-sub-menu
						li 
							a(href="#!") 
								span EN
mixin MenuMobile()
	.wrap-menu-mobile(class=[attributes.class])
		.menu-mobile
			//- Panel header
			.mm-header
				a.mm-logo(href="#!")
					+PugImg("./img/logo_main.svg")
				button.mm-close(type="button" aria-label="Đóng menu")
					i.fa-regular.fa-xmark

			//- Nav items
			.mm-body
				ul.mm-nav
					li.menu-item.current-menu-item
						a(href="#!")
							i.fa-regular.fa-house
							span Trang chủ
					li.menu-item.menu-item-has-children
						.mm-item
							a(href="#!") Giới thiệu
							button.mm-toggle(type="button" aria-label="Mở sub menu")
								i.fa-regular.fa-chevron-down
						ul.mm-sub
							li: a(href="#!") Về chúng tôi
							li: a(href="#!") Lịch sử hình thành
							li: a(href="#!") Đội ngũ
					li.menu-item.menu-item-has-children
						.mm-item
							a(href="#!") Sản phẩm
							button.mm-toggle(type="button" aria-label="Mở sub menu")
								i.fa-regular.fa-chevron-down
						ul.mm-sub
							li: a(href="#!") Xe đạp thể thao
							li: a(href="#!") Phụ kiện
							li: a(href="#!") Linh kiện
					li.menu-item.menu-item-has-children
						.mm-item
							a(href="#!") Hệ thống phân phối
							button.mm-toggle(type="button" aria-label="Mở sub menu")
								i.fa-regular.fa-chevron-down
						ul.mm-sub
							li: a(href="#!") Đại lý cấp 1
							li: a(href="#!") Đại lý cấp 2
					li.menu-item
						a(href="#!") Tin tức
					li.menu-item
						a(href="#!") Hỗ trợ
					li.menu-item
						a(href="#!") Liên hệ

			//- Panel footer
			.mm-footer
				.mm-footer__lang
					.wpml-ls
						ul
							li.wpml-ls-item.wpml-ls-item-vi.wpml-ls-current-language
								a.wpml-ls-link(href="#!")
									span.wpml-ls-flag
										+Img("./img/VI.svg")
									span.wpml-ls-native VN
								ul.wpml-ls-sub-menu
									li.wpml-ls-item.wpml-ls-item-en
										a.wpml-ls-link(href="#!")
											span.wpml-ls-flag
												+Img("./img/EN.svg")
											span.wpml-ls-native EN
				.mm-footer__actions
					a.mm-icon(href="#!" aria-label="Tài khoản")
						i.fa-regular.fa-user
					a.mm-icon.mm-cart(href="#!" aria-label="Giỏ hàng")
						i.fa-regular.fa-cart-shopping
						span.qty 4
		.modal-menu
mixin SwiperColumnAuto(opts={})
	-
		const {
			countSlide="auto-4-column",
			spaceSlide="space-slide-default",
			actionSlide=true,
			optionBtnSlide="static-mobile",
			wrapBtnSlideClass,
			btnPrevClass,
			btnNextClass
		}=opts 
	.swiper-column-auto(class=[countSlide, spaceSlide, attributes.class])&attributes(attributes)
		.swiper 
			.swiper-wrapper 
				block
		if actionSlide
			.wrap-btn-slide(class=[optionBtnSlide, wrapBtnSlideClass])
				+BtnSlide({direction:"prev"})(class=["btn-swiper-prev", btnPrevClass])
				+BtnSlide({direction:"next"})(class=["btn-swiper-next", btnNextClass])
mixin WrapPopup()
	//- - 
	//- 	const {
	//- 		name="popup-form"
	//- 	}=opts
	div(id=attributes.id class=["popup-style-action", attributes.class])&attributes(attributes)
		block
//- PostItem mixin — maps to WP get_template_part('template-parts/post', 'card')
//- WP: href→get_permalink(), image→get_the_post_thumbnail_url(), category→get_the_category()[0]->name,
//-     categorySlug→get_the_category()[0]->slug, date→get_the_date('d.m.Y'), title→get_the_title()
mixin PostItem(opts={})
	-
		const {
			href = '#!',
			image = 'https://picsum.photos/600/400',
			category = 'Tin thị trường',
			categorySlug = 'tin-thi-truong',
			date = '03.06.2024',
			title = 'Tiêu đề bài viết tại đây khi hiển thị trên trang chủ'
		} = opts
	article.post-item
		a.post-item__thumb(href=href)
			.img-ratio(class="ratio:pt-[230_300]")
				+PugImg(image)
		.post-item__body
			.post-item__meta
				a.post-item__cat(href=`/category/${categorySlug}`)= category
				span.post-item__sep |
				span.post-item__date= date
			a.post-item__title(href=href)= title